
.loginPage {
    height: 100%;
    background-color: #f5f5f5;
    padding-top: 80px;
}

.loginPage > DIV {
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    width:400px;
    margin: 0 auto;
}

.loginPage > DIV > DIV {

    margin-top:10px;
}